$animation--delay: 0.5s;

@keyframes flagIn {
    0% {
        transform: translate(100%) scale(0.7);
        opacity: 0;
    }
    
    80% {
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.animated.flag_img_container{
    animation: flagIn 1.2s backwards;
    animation-fill-mode: both;
}

@keyframes inToLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) skewX(30deg);
  }
  60% {
    opacity: 1;
    transform: skewX(-20deg);
  }
  80% {
    transform: skewX(5deg);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.animated.inToLeft{
  animation-name: inToLeft;
  animation-duration: 1.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: $animation--delay;
  transform: translate3d(-100%, 0, 0) skewX(30deg);
  opacity: 0;
}

.animated.delayed {
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transform: translate3d(-100%, 0, 0) skewX(30deg);
}

@keyframes fadeFromLeft {
    0% {
      opacity: 0;
      transform: translate(-100%, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .animated.bills--one {
    animation-name: fadeFromLeft;
    animation-delay: 0.7s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.bills--two {
    animation-name: fadeFromLeft;
    animation-delay: 1.2s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.bills--three {
    animation-name: fadeFromLeft;
    animation-delay: 1.7s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
