
@keyframes flagIn {
    0% {
        transform: translate(100%) scale(0.7);
        opacity: 0;
    }
    
    80% {
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.animated.flag_img_container{
    animation: flagIn 1.2s backwards;
    animation-fill-mode: both;
  }