$backgroundColorText: rgba(0, 0, 0, 0.667);
$grayTextColor: rgba(230, 225, 225, 0.886);
$blueColor: rgba(16, 170, 213, 0.466);
$blackShadowColor: rgba(0, 0, 0, 0.3);
$blueShadowColor: rgba(75, 151, 177, 0.7);
$backgroundColorBody: rgba(235, 232, 226);
$paraColor: rgba(0, 0, 0, 0.7);
$whiteColor: white;
$browserColor: rgb(232, 234, 237);
$redColor: rgb(236, 104, 93);
$yellowColor: rgb(246, 190, 79);
$greenColor: rgb(99, 197, 85);
$darkMode: rgb(53, 55, 65);


$borderColorPara: #ccc; 
$shadowColorPara: rgba(0,0,0,0.3);
$borderColorLaptop: rgb(35, 35, 35);

body {
    background-color: $backgroundColorBody;
}
@media (prefers-color-scheme: dark){
    body{
        background-color: $darkMode;
    }
    .flex-child p{
        color: $whiteColor;
    }

    .flex__child--start {
        color: $whiteColor

    }

}

// Article
.para__background,
.para-number,
.flag_text {
    background-color: $paraColor;
}

.para__background p,
.para__background h2 {
    color: $whiteColor;
}

.para-number__container {
    border: $borderColorPara;
    box-shadow: $shadowColorPara;
}

.laptop__screen {
    border: $borderColorLaptop;
}

.para-number h3 {
    color: $whiteColor;
}
// Browser colors
.browser {
    background-color: $browserColor;
}

.--red {
    background-color: $redColor;
}
.--yellow {
    background-color: $yellowColor;
}
.--green {
    background-color: $greenColor;
}

.content__container,
.url__field,
.browser__url {
    background-color: $whiteColor;
}

.flag_text {
    color: $whiteColor;
}

// * * * Snizhana * * * *

.text__content--black {
    background-color: $backgroundColorText;
    color: $grayTextColor;
}

.text__content--wave {
    background-color: $blueColor;
}

.text--climate-relating,
.text__content--prediction {
    background-color: $backgroundColorText;
    color: $grayTextColor;
}

.photo-card {
    box-shadow: $blueShadowColor, $blackShadowColor;
}
