$backgroundColorText: rgba(0, 0, 0, 0.942);
$grayTextColor: rgb(230, 225, 225);
$blueColor: rgba(206, 233, 239, 0.914);
$blackShadowColor: rgba(0, 0, 0, 0.3);
$blueShadowColor: rgba(75, 151, 177, 0.7);
$backgroundColorBody: rgba(235, 232, 226);
$paraColor: rgba(0, 0, 0, 0.9);
$whiteColor: white;
$browserColor: rgb(232, 234, 237);
$redColor: rgb(236, 104, 93);
$yellowColor: rgb(246, 190, 79);
$greenColor: rgb(99, 197, 85);
$darkMode: rgb(53, 55, 65);
$browserDarkMode: rgb(32, 31, 31);
$browserURLDarkMode: rgb(55, 51, 51);
$borderColorPara: #ccc;
$shadowColorPara: rgba(0, 0, 0, 0.3);
$borderColorLaptop: rgb(35, 35, 35);
$blackColor: black;
$grayBlueColor: rgb(103, 105, 117);
$linearGradient: linear-gradient(to right, #93c6ef, rgb(236, 183, 126) 70%, #4CAF50);
body {
    background-color: $backgroundColorBody;
}
.pop-up {
    background-color: $backgroundColorBody;
}

// Article
.section--cover{
    background: $linearGradient;
}
.para__background,
.para-heading,
.flag_text {
    background-color: $paraColor;
}

.para__background p,
.para__background h2 {
    color: $whiteColor;
}

.para-heading__container {
    border: $borderColorPara;
    box-shadow: $shadowColorPara;
}

.laptop__screen {
    border: 30px solid $borderColorLaptop;
}

.para-heading h3 {
    color: $whiteColor;
}
// Browser colors
.browser,
.url__field {
    background-color: $browserColor;
}

.--red {
    background-color: $redColor;
}
.--yellow {
    background-color: $yellowColor;
}
.--green {
    background-color: $greenColor;
}

.content__container,
.browser__url {
    background-color: $whiteColor;
}

.flag_text {
    color: $whiteColor;
}

// * * * Snizhana * * * *

.text__content--black {
    background-color: $backgroundColorText;
    color: $grayTextColor;
}

.text__content--wave {
    background-color: $blueColor;
}

.text--climate-relating,
.text__content--prediction {
    background-color: $backgroundColorText;
    color: $grayTextColor;
}

.photo-card {
    box-shadow: $blueShadowColor, $blackShadowColor;
}

@media (prefers-color-scheme: dark) {
    body,
    .pop-up {
        background-color: $darkMode;
    }
    .flex-child p {
        color: $whiteColor;
    }

    .flex__child--start {
        color: $whiteColor;
    }
    .browser {
        background-color: $browserDarkMode;
    }
    .browser__url {
        background-color: $browserURLDarkMode;
    }
    .url__field {
        background-color: $browserDarkMode;
    }
    .url__field p {
        color: $whiteColor;
    }
    .browser__refresh path {
        fill: $whiteColor;
    }

    .arrow svg path {
        fill: unset;
        fill: $whiteColor;
    }
    .laptop__screen {
        border: 30px solid $blackColor;
        border: 30px solid $grayBlueColor;
    }
    .--end div p {
        color: $whiteColor;
    }

    .pop-up p {
        color: $whiteColor;
    }
}
