body {
    font-family: 'Nunito', sans-serif;
}
// Section start
#number__seven {
    font-size: 200px;
}

.text--normal {
    font-size: 50px;
}

// Section story
.flex-child p {
    font-size: 40px;
}

// Section article
.para__background.clean-energy p{
    font-size: 50px;
}

.para-heading h3 {
    font-weight: bold;
    font-size: 40px;
}

.para__background p {
    font-size: 20px;
}

.para__background p,
.para__background h2 {
    line-height: 1.4;
}

.para-heading h3 {
    text-align: center;
}

.para__background {
    text-align: justify;
}

.flag_text {
    font-size: 20px;
    line-height: 1.4;
}

//Browser

.x,
.close {
    font-size: 100%;
}

.fullscreen {
    font-size: 90%;
}

.text--consequences,
.text__content--wave,
.text--climate-relating,
.text--prediction {
    font-size: 20px;
    text-align: justify;
}
