.scroll-container {
    scroll-snap-type: y proximity;
    // overflow-y: auto;
    height: 100vh;
}

// Section start
.section__start--help {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__container--start {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.flex-child--start.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Section story

.container--flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

// Whole laptop screen layout
.laptop__screen--IO {
    position: static;
    top: 10px;
    overflow-y: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.laptop__screen {
    position: relative;
    top: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.content__container {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

// Browser layout
.browser {
    //   position: sticky;
    //   top: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.browser__url {
    //   position: sticky;
    //   top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.url__field {
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.url__field p {
    margin-left: 10px;
}

.arrow {
    margin-left: 1%;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.--red {
    margin-left: 1vw;
    top: 0;
}
.--yellow {
    top: 0;
}
.--green {
    top: 0;
}

.browser__refresh svg {
    padding-left: 5px;
}

.headline--top {
    margin-top: 20vh;
}

// table and bills
.table-and-bills__container {
    position: relative;
    padding-top: 100px;
}

.bills__container {
    position: absolute;
    z-index: 1000;
    margin-top: -50px;
    margin-left: 60px;
}

.bills--two {
    margin-left: -50px;
}

.bills--three {
    margin-left: -50px;
}

.table {
    position: relative;
}

// Countries section

.flex_container_flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(50vh);
    gap: 10px;
    flex-wrap: wrap;
}

// * * * * Snizhana * * * * * *

.content__container section {
    // scroll-snap-align: start;
    // scroll-snap-stop: always;
    height: auto;
    min-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.text--consequences,
.text__content--wave,
.text__content--prediction,
.text--climate-relating {
    width: 40%;
}

.text--consequences,
.text__content--wave,
.text--prediction,
.text--climate-relating {
    padding: 25px;
}
.text--prediction {
    margin-bottom: 15%;
}

.text__content--black,
.text__content--wave,
.text__content--prediction {
    padding: 20px;
    margin-top: 95vh;
}

.text__content--wave {
    margin-left: 55%;
    margin-bottom: 20%;
}

.text--climate-relating {
    margin-top: 20vh;
    padding: 20px;
}

.text__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.photo-card {
    margin-top: 95vh;
    height: 330px;
    width: 580px;
}

.wave {
    position: absolute;
    width: 6400px;
    height: 198px;
    opacity: 1;
    bottom: 0px;
    left: 0px;
}
.wave:nth-of-type(2) {
    bottom: -30px;
}

.ocean {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
