// * * *  Snizhana

.content__container section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.section--consequences {
    background-image: url(../assets/images/earth-energy.jpg);
}

.section--wave {
    background-image: url(../assets/images/earth-in-water.jpeg);
}

.section--prediction {
    background-image: url(../assets/images/hurricanes.jpeg);
}

.section--climate-relating {
    background-image: url(../assets/images/energy-gw.jpeg);
}
