// * * *  Snizhana

.section--consequences {
    background-image: url(../assets/images/earth-energy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section--wave {
    background-image: url(../assets/images/earth-in-water.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section--prediction {
    background-image: url(../assets/images/hurricanes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section--climate-relating {
    background-image: url(../assets/images/energy-gw.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
