.section--first {
    background-image: url(../assets/images/windmill.jpg);
}

.section--fifth {
    background-image: url(../assets/images/solar-panels.jpg);
}

.section--sixth {
    background-image: url(../assets/images/global.jpg);
}

// * * *  Snizhana * * *

.section--consequences {
    background-image: url(../assets/images/earth-energy.jpg);
}

.section--wave {
    background-image: url(../assets/images/earth-in-water.jpeg);
}

.section--prediction {
    background-image: url(../assets/images/hurricanes.jpeg);
}

.section--climate-relating {
    background-image: url(../assets/images/energy-gw.jpeg);
}

.wave {
    background: url(../assets/svg/wave.svg) repeat-x;
}
