@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
.section__start--help {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__container--start {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.flex-child--start.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.laptop__screen--IO {
  position: static;
  top: 10px;
}

.laptop__screen {
  position: relative;
  top: 10px;
}

.content__container {
  position: absolute;
}

.browser {
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.browser__url {
  position: sticky;
  top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.url__field {
  margin-left: 1%;
  display: flex;
  align-items: center;
}

.url__field p {
  margin-left: 10px;
}

.arrow {
  margin-left: 1%;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.--red {
  margin-left: 1vw;
  top: 0;
}

.--yellow {
  top: 0;
}

.--green {
  top: 0;
}

.browser__refresh svg {
  padding-left: 5px;
}

.headline--top {
  margin-top: 20vh;
}

* {
  margin: 0;
  padding: 0;
}

.section__start {
  height: 100vh;
}

.section__start--help {
  width: 100%;
  height: 100vh;
}

.flex__container--start {
  position: relative;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.laptop__screen {
  width: 85vw;
  height: 85vh;
  border: 35px solid rgb(35, 35, 35);
  overflow-y: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.browser {
  width: 100%;
  height: 30px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.browser__url {
  width: 100%;
  height: 40px;
}

.url__field {
  width: 80%;
  height: 25px;
  border-radius: 15px;
}

.arrow svg {
  width: 15px;
}

.arrow.--right {
  transform: rotate(180deg);
  margin-bottom: 11px;
}

.browser__refresh svg {
  width: 20px;
  opacity: 0.8;
}

.content-container {
  overflow-y: auto;
}

.section {
  width: 85vw;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  opacity: 1;
}

.section--first {
  height: 100%;
  background-image: url(../assets/images/windmill.jpg);
}

.para {
  height: 100vh;
  width: 60ch;
  margin: 0 auto;
  transform: translateY(50vh);
}

.para50 {
  height: 50vh;
}

.para__background {
  padding: 2%;
}

.para__background p,
.para__background h2 {
  opacity: 1;
  color: white;
  line-height: 1.4;
}

body {
  background-color: rgb(235, 232, 226);
}

.para__background {
  background-color: rgba(0, 0, 0, 0.7);
}

.browser {
  background-color: rgb(232, 234, 237);
}

.--red {
  background-color: rgb(236, 104, 93);
}

.--yellow {
  background-color: rgb(246, 190, 79);
}

.--green {
  background-color: rgb(99, 197, 85);
}

.browser__url {
  background-color: rgb(255, 255, 255);
}

.url__field {
  background-color: rgb(244, 245, 247);
}

.content-container {
  background-color: white;
}

body {
  font-family: "Nunito", sans-serif;
}

#number__seven {
  font-size: 90px;
}

.text--normal {
  font-size: 50px;
}/*# sourceMappingURL=index.css.map */