@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.unSticky__sensor {
  height: 1px;
}

.unSticky__sensor,
.section__start--help {
  width: 100%;
}

.section__start,
.section__start--help {
  height: 100vh;
}

.flex__container--start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  flex-wrap: wrap;
  gap: 40px;
}

.section__story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.section__story.--one .container--flex,
.section__story.--two .container--flex,
.section__story.--three .container--flex,
.section__story.--four .container--flex,
.section__story.--five .container--flex {
  flex-wrap: wrap-reverse;
}

.section__story p {
  max-width: 30ch;
}

.section--first,
.section--fifth,
.section--sixth {
  height: 100%;
}

.para {
  height: 100vh;
  max-width: 60ch;
  margin: 0 auto;
}

.para50 {
  height: 50vh;
}

.para__background,
.para-heading {
  padding: 2%;
}

.para__background p,
.para__background h2 {
  opacity: 1;
}

.para-heading__container {
  max-width: 600px;
  margin: 0 auto;
}

.actions {
  margin-bottom: 50vh;
}

.denmark {
  margin-top: -35vh;
}

div.iceland {
  height: 50vh;
}

.bills {
  width: 150px;
  height: 150px;
}

.table {
  width: 500px;
  height: auto;
}

.flex-child img {
  width: 500px;
  height: 500px;
}

.flex_container_flag {
  height: 100vh;
}

.flex_container_flag img {
  width: 200px;
  height: 150px;
}

.flag_text {
  max-width: 60ch;
  opacity: 1;
  padding: 2%;
}

.--afterResearch .container--flex {
  margin-top: 25vh;
}

.happy-desk img {
  width: 500px;
  height: 500px;
  max-width: 100%;
}

.thought-bubble img {
  width: 500px;
  height: auto;
  max-width: 100%;
}

.bike {
  margin-top: 10vh;
}

.bike img {
  width: 250px;
  height: auto;
}

.section__story.--end {
  max-height: 100vh;
}

.laptop__screen {
  width: 85vw;
  height: 85vh;
  overflow-y: hidden;
  margin: 0 auto;
  border-radius: 20px;
}

.browser {
  padding: 1%;
  width: 100%;
  height: 30px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.browser__url {
  width: 100%;
  height: 40px;
}

.url__field {
  width: 80%;
  height: 25px;
  border-radius: 15px;
}

.arrow svg {
  width: 15px;
}

.arrow.--right {
  transform: rotate(180deg);
  margin-bottom: 11px;
}

.browser__refresh svg {
  width: 20px;
  opacity: 0.8;
}

.scroll-container {
  scroll-snap-type: y proximity;
  height: 100vh;
}

.section__start--help {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-child--start.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.laptop__screen--IO {
  position: static;
  top: 10px;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.laptop__screen {
  position: relative;
  top: 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.content__container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.browser {
  display: flex;
  gap: 10px;
  align-items: center;
}

.browser__url {
  display: flex;
  gap: 10px;
  align-items: center;
}

.url__field {
  display: flex;
  align-items: center;
}

.url__field,
.arrow {
  margin-left: 1%;
}

.url__field p {
  margin-left: 10px;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.--red {
  margin-left: 1vw;
}

.--yellow,
.--green,
.--red {
  top: 0;
}

.browser__refresh svg {
  padding-left: 5px;
}

.headline--top {
  margin-top: 20vh;
}

.table-and-bills__container {
  position: relative;
  padding-top: 100px;
}

.bills__container {
  position: absolute;
  z-index: 1000;
  margin-top: -50px;
  margin-left: 60px;
}

.bills--two,
.bills--three {
  margin-left: -50px;
}

.table {
  position: relative;
}

.flex_container_flag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(50vh);
  gap: 10px;
  flex-wrap: wrap;
}

.content__container section {
  height: auto;
  min-height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.content__container section::-webkit-scrollbar {
  display: none;
}

.content__container section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.text--consequences,
.text__content--wave,
.text__content--prediction,
.text--climate-relating {
  width: 40%;
  min-width: 400px;
}

.text--wave {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text--consequences,
.text__content--wave,
.text--prediction,
.text--climate-relating {
  padding: 25px;
}

.text--prediction {
  margin-bottom: 15%;
}

.text__content--black,
.text__content--wave,
.text__content--prediction {
  padding: 20px;
}

.text__content--black,
.text__content--wave {
  padding: 20px;
  margin-top: 95vh;
}

.text__content--wave {
  margin-bottom: 20%;
}

.text--climate-relating {
  margin-top: 20vh;
  padding: 20px;
}

.text__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 95vh;
  flex-wrap: wrap;
}
.text__container * {
  margin-top: 12px;
}

.photo-card {
  height: 330px;
  width: 580px;
}

.wave {
  position: absolute;
  width: 6400px;
  height: 198px;
  opacity: 1;
  bottom: 0px;
  left: 0px;
}

.wave:nth-of-type(2) {
  bottom: -30px;
}

.ocean {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.pop-up {
  height: 100vh;
  width: 100%;
  display: none;
}

@media screen and (orientation: portrait) {
  * {
    overflow: hidden;
  }
  .scroll-container {
    display: none;
  }
  .pop-up {
    display: block;
  }
  .pop-up__text {
    font-size: 50px;
    text-align: center;
    margin-top: 10vh;
  }
  .pop-up img {
    width: 100%;
  }
}
body {
  background-color: rgb(235, 232, 226);
}

.pop-up {
  background-color: rgb(235, 232, 226);
}

.para__background,
.para-heading,
.flag_text {
  background-color: rgba(0, 0, 0, 0.9);
}

.para__background p,
.para__background h2 {
  color: white;
}

.para-heading__container {
  border: #ccc;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.para-heading h3 {
  color: white;
}

.browser {
  background-color: rgb(232, 234, 237);
}

.--red {
  background-color: rgb(236, 104, 93);
}

.--yellow {
  background-color: rgb(246, 190, 79);
}

.--green {
  background-color: rgb(99, 197, 85);
}

.content__container,
.url__field,
.browser__url {
  background-color: white;
}

.flag_text {
  color: white;
}

.text__content--black {
  background-color: rgba(0, 0, 0, 0.942);
  color: rgb(230, 225, 225);
}

.text__content--wave {
  background-color: rgba(206, 233, 239, 0.914);
}

.text--climate-relating,
.text__content--prediction {
  background-color: rgba(0, 0, 0, 0.942);
  color: rgb(230, 225, 225);
}

.photo-card {
  box-shadow: rgba(75, 151, 177, 0.7), rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  body,
  .pop-up {
    background-color: rgb(53, 55, 65);
  }
  .flex-child p {
    color: white;
  }
  .flex__child--start {
    color: white;
  }
  .browser {
    background-color: rgb(32, 31, 31);
  }
  .browser__url {
    background-color: rgb(55, 51, 51);
  }
  .url__field {
    background-color: rgb(32, 31, 31);
  }
  .url__field p {
    color: white;
  }
  .browser__refresh path {
    fill: white;
  }
  .arrow svg path {
    fill: unset;
    fill: white;
  }
  .laptop__screen {
    border: 30px solid black;
    border: 30px solid rgb(103, 105, 117);
  }
  .--end div p {
    color: white;
  }
  .pop-up p {
    color: white;
  }
}
body {
  font-family: "Nunito", sans-serif;
}

#number__seven {
  font-size: 90px;
}

.text--normal {
  font-size: 50px;
}

.flex-child p {
  font-size: 40px;
}

.para-heading h3 {
  font-weight: bold;
  font-size: 40px;
}

.para__background p {
  font-size: 20px;
}

.para__background p,
.para__background h2 {
  line-height: 1.4;
}

.para-heading h3 {
  text-align: center;
}

.para__background {
  text-align: center;
}

.flag_text {
  font-size: 20px;
  line-height: 1.4;
}

.x,
.close {
  font-size: 100%;
}

.fullscreen {
  font-size: 90%;
}

.text--consequences,
.text__content--wave,
.text--climate-relating,
.text--prediction {
  font-size: 20px;
  text-align: justify;
}

@keyframes flagIn {
  0% {
    transform: translate(100%) scale(0.7);
    opacity: 0;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animated.flag_img_container {
  animation: flagIn 1.2s backwards;
  animation-fill-mode: both;
}

@keyframes inToLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) skewX(30deg);
  }
  60% {
    opacity: 1;
    transform: skewX(-20deg);
  }
  80% {
    transform: skewX(5deg);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.animated.inToLeft {
  animation-name: inToLeft;
  animation-duration: 1.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transform: translate3d(-100%, 0, 0) skewX(30deg);
  opacity: 0;
}

.animated.delayed {
  opacity: 0;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transform: translate3d(-100%, 0, 0) skewX(30deg);
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animated.bills--one {
  animation-name: fadeFromLeft;
  animation-delay: 0.7s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.bills--two {
  animation-name: fadeFromLeft;
  animation-delay: 1.2s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.bills--three {
  animation-name: fadeFromLeft;
  animation-delay: 1.7s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes coolHeader {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(-1000px);
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateY(60px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.animated.flex__container--start {
  animation: coolHeader 1s ease both;
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}
.animated.para__span {
  animation: 1.5s highlight 1s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #1ad136 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
.animated.para__span.gold {
  background-image: linear-gradient(90deg, rgba(146, 99, 3, 0.948) 50%, rgba(255, 255, 255, 0) 50%);
}
.animated.para__span.blazing {
  background-image: linear-gradient(90deg, rgb(121, 204, 243) 50%, rgba(255, 255, 255, 0) 50%);
}
.animated.para__span.dark-blue {
  background-image: linear-gradient(90deg, rgb(10, 91, 129) 50%, rgba(255, 255, 255, 0) 50%);
}

@keyframes energyBill {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
.animated.energy__bill {
  animation-name: energyBill;
  animation-duration: 1.2s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}

.browser:hover .functions {
  display: block;
}

.functions {
  display: none;
}

.fullscreen {
  transform: scale(0.7) rotate(45deg);
}

.x {
  margin-top: -2px;
  margin-left: 1px;
}

.section {
  width: 85vw;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  opacity: 1;
}

.para {
  transform: translateY(50vh);
}

.section__story.--afterResearch .container--flex .flex-child img {
  display: block;
}

.section__story.--end {
  display: block;
}

.wave {
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
.wave:nth-of-type(2) {
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}

.animated.thought-bubble {
  opacity: 0;
  animation-name: bubble;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes bubble {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.bike {
  animation: biking 10s infinite ease-in forwards;
}

@keyframes biking {
  from {
    transform: translateX(-20vw);
  }
  to {
    transform: translateX(105vw);
  }
}
@media (prefers-reduced-motion) {
  .animated.inToLeft {
    animation: none;
    transform: translate3d(0, 0, 0) skewX(0deg);
    opacity: 1;
  }
  .animated.energy__bill {
    animation-name: energyBill;
    animation-duration: 10s;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
  }
  .animated.flex__container--start {
    animation: none;
  }
  .animated.thought-bubble {
    animation: none;
    opacity: 1;
  }
  @keyframes flagIn {
    0% {
      transform: translate(100%) scale(1);
      opacity: 1;
    }
    80% {
      transform: translateX(0px) scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.section--first {
  background-image: url(../assets/images/windmill.jpg);
}

.section--fifth {
  background-image: url(../assets/images/solar-panels.jpg);
}

.section--sixth {
  background-image: url(../assets/images/global.jpg);
}

.section--consequences {
  background-image: url(../assets/images/earth-energy.jpg);
}

.section--wave {
  background-image: url(../assets/images/earth-in-water.jpeg);
}

.section--prediction {
  background-image: url(../assets/images/hurricanes.jpeg);
}

.section--climate-relating {
  background-image: url(../assets/images/energy-gw.jpeg);
}

.wave {
  background: url(../assets/svg/wave.svg) repeat-x;
}

.photo-card {
  box-shadow: 2px 10px 28px, 1px 3px 4px;
  border-radius: 5px;
}

.para-heading__container {
  border: 5px solid;
  box-shadow: 0px 2px 5px;
}

.para-heading__container {
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */