@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
.section__start--help {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__container--start {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.flex-child--start.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.laptop__screen--IO {
  position: static;
  top: 10px;
}

.laptop__screen {
  position: relative;
  top: 10px;
}

.content__container {
  position: absolute;
}

.browser {
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.browser__url {
  position: sticky;
  top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.url__field {
  margin-left: 1%;
  display: flex;
  align-items: center;
}

.url__field p {
  margin-left: 10px;
}

.arrow {
  margin-left: 1%;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.--red {
  margin-left: 1vw;
  top: 0;
}

.--yellow {
  top: 0;
}

.--green {
  top: 0;
}

.browser__refresh svg {
  padding-left: 5px;
}

.headline--top {
  margin-top: 20vh;
}

.table-and-bills__container {
  position: relative;
  padding-top: 100px;
}

.bills__container {
  position: absolute;
  z-index: 1000;
  margin-top: -50px;
  margin-left: 60px;
}

.bills--two {
  margin-left: -50px;
}

.bills--three {
  margin-left: -50px;
}

.table {
  position: relative;
}

.flex_container_flag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(50vh);
  gap: 10px;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

.unSticky__sensor {
  width: 100%;
  height: 1px;
}

.section__start {
  height: 100vh;
}

.section__start--help {
  width: 100%;
  height: 100vh;
}

.flex__container--start {
  position: relative;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.section__story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.section__story.--two .container--flex,
.section__story.--four .container--flex,
.section__story.--five .container--flex {
  flex-wrap: wrap-reverse;
}

.section__story p {
  max-width: 30ch;
}

.laptop__screen {
  width: 85vw;
  height: 85vh;
  border: 35px solid rgb(35, 35, 35);
  overflow-y: hidden;
  margin: 0 auto;
  border-radius: 10px;
}

.browser {
  width: 100%;
  height: 30px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.browser__url {
  width: 100%;
  height: 40px;
}

.url__field {
  width: 80%;
  height: 25px;
  border-radius: 15px;
}

.arrow svg {
  width: 15px;
}

.arrow.--right {
  transform: rotate(180deg);
  margin-bottom: 11px;
}

.browser__refresh svg {
  width: 20px;
  opacity: 0.8;
}

.browser:hover .functions {
  display: block;
}

.functions {
  display: none;
}

.x {
  margin-top: -2px;
  margin-left: 1px;
}

.fullscreen {
  transform: scale(0.7) rotate(45deg);
}

.content__container {
  overflow-y: hidden;
}

.section {
  width: 85vw;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  opacity: 1;
}

.section--first {
  height: 100%;
  background-image: url(../assets/images/windmill.jpg);
}

.section--fifth {
  height: 100%;
  background-image: url(../assets/images/solar-panels.jpg);
}

.section--sixth {
  height: 100%;
  background-image: url(../assets/images/global.jpg);
}

.para {
  height: 100vh;
  max-width: 60ch;
  margin: 0 auto;
  transform: translateY(50vh);
}

.para50 {
  height: 50vh;
}

.para__background {
  padding: 2%;
}

.para__background p,
.para__background h2 {
  opacity: 1;
  color: white;
  line-height: 1.4;
}

.para-number__container {
  max-width: 10%;
  margin: 0 auto;
}

.para-number {
  padding: 2%;
}

.para-number h3 {
  text-align: center;
}

.para__background {
  text-align: center;
}

.actions {
  margin-bottom: 50vh;
}

.denmark {
  margin-top: -35vh;
}

div.iceland {
  height: 50vh;
}

.bills {
  width: 150px;
  height: 150px;
}

.table {
  width: 500px;
  height: auto;
}

.flex-child img {
  width: 500px;
  height: 500px;
}

.flex_container_flag {
  height: 100vh;
}

.flex_container_flag img {
  width: 200px;
  height: 150px;
}

.flag_text {
  max-width: 60ch;
  font-size: 20px;
  opacity: 1;
  line-height: 1.4;
  padding: 2%;
}

body {
  background-color: rgb(235, 232, 226);
}

.para__background {
  background-color: rgba(0, 0, 0, 0.7);
}

.para-number {
  background-color: rgba(0, 0, 0, 0.7);
}

.para-number h3 {
  color: white;
}

.browser {
  background-color: rgb(232, 234, 237);
}

.--red {
  background-color: rgb(236, 104, 93);
}

.--yellow {
  background-color: rgb(246, 190, 79);
}

.--green {
  background-color: rgb(99, 197, 85);
}

.browser__url {
  background-color: rgb(255, 255, 255);
}

.url__field {
  background-color: rgb(244, 245, 247);
}

.content__container {
  background-color: white;
}

.flag_text {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

body {
  font-family: "Nunito", sans-serif;
}

#number__seven {
  font-size: 90px;
}

.text--normal {
  font-size: 50px;
}

.flex-child p {
  font-size: 40px;
}

.para-number h3 {
  font-weight: bold;
  font-size: 100px;
}

.para__background p {
  font-size: 20px;
}

.x {
  font-size: 100%;
}

.close {
  font-size: 100%;
}

.fullscreen {
  font-size: 90%;
}

@keyframes flagIn {
  0% {
    transform: translate(100%) scale(0.7);
    opacity: 0;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animated.flag_img_container {
  animation: flagIn 1.2s backwards;
  animation-fill-mode: both;
}

@keyframes inToLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) skewX(30deg);
  }
  60% {
    opacity: 1;
    transform: skewX(-20deg);
  }
  80% {
    transform: skewX(5deg);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.animated.inToLeft {
  animation-name: inToLeft;
  animation-duration: 1.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transform: translate3d(-100%, 0, 0) skewX(30deg);
  opacity: 0;
}

.animated.delayed {
  opacity: 0;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transform: translate3d(-100%, 0, 0) skewX(30deg);
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animated.bills--one {
  animation-name: fadeFromLeft;
  animation-delay: 0.7s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.bills--two {
  animation-name: fadeFromLeft;
  animation-delay: 1.2s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.bills--three {
  animation-name: fadeFromLeft;
  animation-delay: 1.7s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes coolHeader {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(-1000px);
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateY(60px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.animated.flex__container--start {
  animation: coolHeader 1s ease both;
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}
.animated.para__span {
  animation: 1.5s highlight 1s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #1ad136 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@keyframes energyBill {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
.animated.energy__bill {
  animation-name: energyBill;
  animation-duration: 1.2s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}

.section--consequences {
  background-image: url(../assets/images/earth-energy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=index.css.map */